* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.boy {
  top: 450px;
  position: absolute;
  
}
.boy img {
  height: 200px;
}
.boy_dog{
    animation-duration: 8s;
    animation-name: boy_dog_run;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}
@keyframes boy_dog_run {
  from {
    transform: translateX(-10%);
  }
  to {
    transform: translateX(100%);
  }
}
.dog {
  position: absolute;
  left: -140px;
  top: 540px;
  
}
